@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}
<div class="dashboard-note">
    This page is temporary and will be updated based on user authorities. Use the sidebar to navigate to all project pages.
</div>
